/*Profile Page styles*/

.db-social .jumbotron {
    background: url(/img/default.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;
    color: #fff!important;
    height: 300px;
    position: relative;
    box-shadow: inset 0 0 20px rgba(0,0,0,.3);
    padding: 0;
    -webkit-animation: psychedelic linear 30s infinite;
    -moz-animation: psychedelic linear 30s infinite;
    -o-animation: psychedelic linear 30s infinite;
    animation: psychedelic linear 30s infinite;

}

.container-fluid {
    padding: 30px 30px
}

.db-social .head-profile {
    margin-top: -120px;
    border-radius: 4px;
    position: relative
}

.widget {
    background: #fff;
    border-radius: 0;
    border: 0;
    margin-bottom: 30px
}

.has-shadow {
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08)
}

.db-social .head-profile:before {
    content: "";
    background: rgba(255,255,255,.6);
    height: 20px;
    width: 90%;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px 4px 0 0
}

.db-social .head-profile:after {
    content: "";
    background: rgba(255,255,255,.3);
    height: 20px;
    width: 80%;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px 4px 0 0
}

.db-social .widget-body {
    padding: 1rem 1.4rem
}

.widget-body {
    padding: 1.4rem
}

.pb-0,.py-0 {
    padding-bottom: 0!important
}

.db-social .image-default img {
    width: 120px;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 0 0 6px #fff;
    z-index: 10
}

.db-social .infos {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    line-height: 1.8rem
}

.db-social h2 {
    color: #2c304d;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: .2rem
}

.db-social .location {
    color: #aea9c3;
    font-size: 1rem
}

.db-social .follow .btn {
    padding: 10px 30px
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.btn-shadow,.btn-shadow a {
    color: #5d5386;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.15)
}

.db-social .head-profile .actions {
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem
}

.actions {
    z-index: 999;
    display: block
}

.actions.dark .dropdown-toggle {
    color: #2c304d
}

.actions .dropdown-toggle {
    color: #98a8b4;
    background: 0 0;
    border: 0;
    padding: 0;
    font-size: 1.7rem
}

.actions .dropdown-menu {
    border: 0;
    min-width: auto;
    font-size: 1rem;
    border-radius: 4px;
    padding: 1.4rem 1.8rem;
    text-align: left;
    box-shadow: 1px 1px 30px rgba(0,0,0,.15)
}

.actions .dropdown-menu .dropdown-item {
    padding: .5rem 0
}

.actions .dropdown-menu a {
    color: #2c304d;
    font-weight: 500
}

.db-social .head-profile li:first-child {
    padding-left: 0
}

.db-social .head-profile li {
    display: inline-block;
    text-align: center;
    padding: 0 1rem
}

.db-social .head-profile li .counter, .dm {
    color: #2c304d;
    font-size: 1.4rem;
    font-weight: 600
}

.db-social .head-profile li .heading {
    color: #aea9c3;
    font-size: 1rem
}

.post-editor,.stream-post, .dm-editor {
    padding: .75rem;
    background: #f7f7f9;
    border: 1px solid #eceeef;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    min-height: 140px;
}

.profile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (min-width:768px) {
    .profile-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

body.menubar-top .profile-wrapper {
    border: 1px solid #eceeef
}

.profile-section-user {
    border-right: 1px solid #eceeef;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

@media (min-width:768px) {
    .profile-section-user {
        -ms-flex-preferred-size: 34%;
        flex-basis: 34%
    }
}

@media (min-width:992px) {
    .profile-section-user {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%
    }
}

.profile-section-user table {
    margin-bottom: 0
}

.profile-section-user table td {
    border: 0;
    padding-left: 0;
    padding-right: 0
}

.profile-section-user .img-gallery [class*=col] {
    padding-right: .25rem;
    padding-left: .25rem
}

.profile-section-user .img-gallery .row {
    margin-right: -.25rem;
    margin-left: -.25rem
}

.profile-section-user .img-gallery .g__item {
    margin-bottom: .5rem
}

.profile-cover-img img {
    width: 100%;
    height: auto
}

.profile-info-brief {
    position: relative;
    padding-top: 74px!important
}

.profile-info-brief .user-profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px)
}

.profile-section-main {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 5000px;
    flex: 0 1 5000px;
    overflow: hidden
}

.profile-tabs {
    padding: .75rem 1.5rem 0;
    background: #f7f7f9;
    border-top: 1px solid #eceeef
}

.profile-tabs .nav-link {
    font-weight: 400;
    padding: .75rem 1.5rem
}

.profile-tabs .nav-link.active,.profile-tabs .nav-link.active:focus,.profile-tabs .nav-link.active:hover,.profile-tabs .nav-link:active,.profile-tabs .nav-link:focus {
    color: #60c84c
}

.profile-tabs-content .tab-pane {
    padding: 1.5rem
}

.post-editor .post-field, .dm-editor .post-field {
    width: 100%;
    height: 120px;
    resize: vertical;
    border-radius: .25rem;
    margin-bottom: .5rem;
    padding: .5rem;
    border-color: #eceeef
}

.post-editor .post-field:focus, .dm-editor .post-field:focus {
    /*    box-shadow: none;
        outline: 0*/
}

.stream-posts {
    position: relative;
    margin-bottom: 10px;
}

.sp-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.sp-author .sp-author-avatar {
    display: inline-block;
    height: 64px;
    width: 64px;
    margin-right: 16px
}

.sp-author .sp-author-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.sp-author .sp-author-name {
    font-size: 1rem;
    margin: .5rem 0
}

@media (min-width:992px) {
    .sp-author {
        position: absolute;
        width: 100%;
        left: 1rem;
        top: 1rem
    }

    .sp-author .sp-author-name {
        margin: 0;
        position: absolute;
        left: 80px;
        top: 8px;
        background: rgba(0,0,0,.9);
        padding: .75rem 1.5rem;
        border-radius: 6px;
        z-index: -1;
        opacity: 0;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center;
        -webkit-transition: opacity .3s,-webkit-transform .3s;
        transition: opacity .3s,-webkit-transform .3s;
        transition: opacity .3s,transform .3s;
        transition: opacity .3s,transform .3s,-webkit-transform .3s
    }

    .sp-author .sp-author-name>a {
        color: #fff
    }

    .sp-author .sp-author-avatar:hover+.sp-author-name {
        opacity: 1;
        z-index: 9999;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }

    .sp-author .sp-author-name:after {
        content: "";
        display: block;
        position: absolute;
        left: -8px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid rgba(0,0,0,.9)
    }
}

.sp-content {
    position: relative;
    border-radius: .25rem;
    background: #fff;
    padding: 1rem;
    margin-top: 1rem
}

.sp-content .sp-info {
    font-size: .875rem;
    color: #636c72;
    position: absolute;
    top: -3rem;
    left: 80px
}

.sp-content .sp-paragraph {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem
}

.sp-content .sp-paragraph:last-child {
    margin-bottom: 0
}

.sp-content .sp-gallery img {
    margin-right: .5rem;
    margin-bottom: .5rem;
    max-width: 220px;
    max-height: 130px
}

.sp-content .sp-video {
    width: 100%;
    height: auto
}

@media (min-width:992px) {
    .sp-content {
        margin-left: 80px;
        margin-top: 0
    }

    .sp-content .sp-info {
        position: static;
        font-style: italic;
        margin-bottom: 1rem
    }
}

#profile-settings textarea {
    padding: 1rem;
    line-height: 1.8;
    height: 140px;
    font-style: italic
}

#profile-settings label {
    font-size: 1rem
}

#profile-settings .form-control {
    color: #818a91
}

#profile-settings .form-control,#profile-settings .form-control:focus {
    box-shadow: none;
    outline: 0
}

.edit-cover {
    position: relative;
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid #eceeef;
    background: #f7f7f9;
    height: 400px
}

.edit-cover img {
    border-radius: .25rem;
    width: 100%;
    height: 100%
}

.edit-cover .btn {
    position: absolute;
    right: 32px;
    bottom: 32px
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e2e9e6
}

.panel-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: 1px solid #e2e9e6;
    border-bottom-right-radius: -1;
    border-bottom-left-radius: -1
}

.user-friend-list img,.media img {
    height: 50px;
    width: 50px
}

.avatar.avatar-xl {
    width: 5rem;
    height: 5rem
}

.avatar {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #ced4da no-repeat center/cover;
    position: relative;
    text-align: center;
    color: #868e96;
    font-weight: 600;
    vertical-align: bottom
}

.card {
    border: 1px solid transparent;
    border-radius: 0;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.1),-1px 0 2px rgba(0,0,0,.05);
    box-shadow: 2px 2px 2px rgba(0,0,0,.1),-1px 0 2px rgba(0,0,0,.05);
}

.card:hover {
    border: 1px solid #00aced;
    background: #e6f2ff;
}

.card-body {
    padding: 5px;
}

.tile-link {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 30
}

.nav-tabs .nav-item {
    margin-bottom: 0
}

#topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000000;
    width: 100%;
    clear: both;
    height: 70px;
}
.navbar {
    padding: 0px;
}

h1, h2, h3, h4 {
    color: #3498db;
}

#topnav, .navbar-collapse{
    background: #0064c8;
}

.navbar-collapse ul {
    padding-left: 20px;
}

.navbar-toggler {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: x-large;
}
#topnav a {
    color: white;
}
#topnav input {
    background: white;
    padding-left: 10px;

}
.psychedelic {
    -webkit-animation: psychedelic linear 5s infinite;
    -moz-animation: psychedelic linear 5s infinite;
    -o-animation: psychedelic linear 5s infinite;
    animation: psychedelic linear 5s infinite;
}

@-webkit-keyframes psychedelic {
    0% {
        -webkit-filter: hue-rotate(0deg) saturate(2) invert(0);
    }

    50% {
        -webkit-filter: hue-rotate(360deg) saturate(2) invert(.25);
    }

    100% {
        -webkit-filter: hue-rotate(0deg) saturate(2) invert(0);
    }
}

.table-responsive{
    overflow-x: hidden;
}

.rotate {
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*
  Welcome Styles
*/

#welcome {
}

.form-control, .btn {
    border-radius: 2px;
}
.login-form {
    width: 350px;
    margin: 30px auto;
    text-align: center;
}
.login-form h2 {
    margin: 10px 0 25px;
}
.login-form form {
    color: #7a7a7a;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    padding: 30px;
}
.login-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #3598dc;
    border: none;
}
.login-form .btn:hover, .login-form .btn:focus {
    background: #2389cd;
}
.login-form a {
    text-decoration: underline;
}
.login-form a:hover {
    text-decoration: none;
}
.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}
.login-form form a:hover {
    text-decoration: underline;
}

.logo {
    width: 40px;
    height: auto;
}

body {
    overflow-y: scroll;
}

.flashmessage {
    max-width: 420px;
    margin: 0 auto 20px auto;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.stream-post mb-0 {
    text-align: center;
}

.homesections {
    margin: 40px 0;
}

.btn-logout{
    color: #cd393f;
}
.spacer
{
    width: 100%;
    height: 60px;
}
.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    /*    width: 36px;*/
    font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px;
}

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
        display: block;
        /*        width: 48px;*/
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

a:hover {
    text-decoration: none;
}

.btn-postcontrols {
    padding: 10px;
}
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.main-box.no-header {
    padding-top: 20px;
}
.main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.table a.table-link.danger {
    color: #e74c3c;
}
.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}

.messages-panel, .friend-panel {
    height: 420px;
    overflow-y: auto;
}
.dt-bootstrap4 select, .dt-bootstrap4 input {
    padding: 5px;
    border: 1px solid deepskyblue;
}

nav li {
    margin-left: 5px;
}
